:root {
  --text-color: #434455;
  --background-color: #ffffff;
  --logo-color: #4d5ae5;
  --logo-span-color: #2e2f42;
  --footer-text: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--background-color);
}

.btn {
  background-color: var(--footer-text);
  color: var(--logo-color);
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
  color: #ffffff;
}

/* HEADER */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.logo-span {
  color: var(--logo-span-color);
}

/* .nav-list {
  list-style: none;
} */

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--logo-span-color);
}

.adres-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.adress {
  font-style: normal;
}

/* HERO SECTION */
.hero-section {
  background-color: var(--logo-span-color);
}

.hero-section .header1 {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.list {
  list-style: none;
}

/* SECTION1 */
.section1 .list {
  list-style: none;
}

.header3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-span-color);
}

.paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* SECTION2 */
.header2 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo-span-color);
}

/* SECTION3 */
.section3 {
  background-color: #f4f4fd;
}

.team-member {
  background-color: #ffffff;
  width: 264px;
}

/* FOOTER */
.footer {
  background-color: var(--logo-span-color);
}

.footer .logo-span {
  color: #f4f4fd;
}

.footer .paragraph {
  color: var(--footer-text);
}

/* PORTFOLIO */
.portfolio .list {
  list-style: none;
}
